body {
  color: #525354 !important;
  overflow-x: hidden !important;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 80px;
  height: auto;
  margin-right: 20px;
  border-radius: 15px;
}

.blog-title {
  font-size: 4em;
  margin: 0;
}
.custom-spinner-color {
  color: #e8b88b;
  background-color: #f8efe7 !important;
}

.home-links {
  height: 60px;
  width: 170px;
  margin: 50px;
  padding: 5px 30px;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  border: #9e8770 solid 1.2px;
  border-radius: 5px;
  color: #5a4d3f;
  background-color: #fab97c;
}
.home-links:hover {
  border-radius: 5px;
  color: #e8b88b;
  font-weight: bold;
  background-color: #c38852;
  border-color: #e8b88b;
}

.login {
  height: 100vh;
  width: 100vw;
}

.comment {
  margin: 40px 20vw;
}

.comments {
  min-height: 100vh;
}

.post {
  background-color: #f8e4d2 !important;
  padding: 10px;
  border-radius: 5px;
}
.post-content-h1 {
  font-size: 4rem;
  margin: 10px 15vw;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.9), -5px -5px 8px rgba(0, 0, 0, 0.9),
    0px 0px 15px rgba(0, 0, 0, 0.9), 5px 5px 12px rgba(255, 255, 255, 0.9);
  padding: 20px;
  font-weight: bold;
  z-index: 1;
  color: #fff;
}

.post-content {
  margin: 10px 20vw;
  text-shadow: 2px 2px 4px rgba(57, 31, 3, 0.413);
  padding: 10px;
}
.post-content-h4 {
  margin: 10px 20vw;
  text-shadow: none !important;
  text-align: justify !important;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  color: #9b8d84;
}
.content {
  margin-left: 200px;
}

.com {
  background-color: #f8e4d2 !important;
  padding: 10px;
  border-radius: 5px;
}
.post:hover {
  background-color: #cebdae !important;
}
.home-bg-container {
  height: 100%;
  overflow: hidden;
}
.home-bg-container-comments {
  height: 100%;
  overflow: hidden;
}
.posts {
  background-color: #f8efe7 !important;
  color: #525354 !important;
  max-width: 100vw !important;
  overflow-x: hidden !important;
}

.home-bg {
  height: 100%;
  width: 100%;
}
.active {
  color: #ffffff !important;
  background-color: #efb986 !important;
}

.out-link.active {
  border-radius: 5px !important;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #525354 !important;
  font-weight: bold;
  border: #fadabd solid 2px;
  background-color: #fadabd !important;
}
.out-link.active:hover {
  border: #fadabd solid 2px !important;
  border: #efb986 solid 2px !important;
  color: #c48c57 !important;
}
.active:hover {
  border: #fadabd solid 2px !important;
}
.admin {
  background-color: #f8efe7 !important;
  color: #525354 !important;
  overflow-x: hidden;
}

.links {
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #525354;
  font-weight: bold;
  border: #fadabd solid 2px;
}
.links:hover {
  border: #efb986 solid 2px;
  color: #c48c57;
}

.check-blog{
  color: #ffffff !important;
  border: #fadabd solid 2px !important;
  background-color: #ffffff !important;
}

.check-blog:checked{
  background-color: #efb986 !important;
}

.btn-blog {
  color: #ffffff !important;
  border: #fadabd solid 2px;
  background-color: #efb986 !important;
}

.btn-blog:hover {
  color: #ffffff !important;
  border: #efb986 solid 2px;
  background-color: #fadabd !important;
}
.btn-blog-link {
  color: #ffffff !important;
  border: #fadabd solid 2px;
  background-color: #f5c9a1 !important;
}

.btn-blog-link:hover {
  color: #ffffff !important;
  border: #f5c9a1 solid 2px;
  background-color: #fadabd !important;
}

.btn-blog-cancel {
  color: #ffffff !important;
  border: #97806b solid 2px;
  background-color: #947355 !important;
}

.btn-blog-cancel:hover {
  color: #ffffff !important;
  border: #947355 solid 2px;
  background-color: #97806b !important;
}
.btn-blog-red {
  color: #ffffff !important;
  border: #eb947e solid 2px;
  background-color: #f36440 !important;
}

.btn-blog-red:hover {
  color: #ffffff !important;
  border: #f36440 solid 2px;
  background-color: #eb947e !important;
}
.btn-blog-green {
  color: #ffffff !important;
  border: #9ad67e solid 2px;
  background-color: #21a521 !important;
}

.btn-blog-green:hover {
  color: #ffffff !important;
  border: #21a521 solid 2px;
  background-color: #9ad67e !important;
}
.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 12px 0;
  font-size: 20px;
  line-height: 1.428571429;
  border-radius: 25px;
}

.header-h1 {
  font-size: 5rem;
}
.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.hover-highlight {
  transition: background-color 0.3s ease;
}

.hover-highlight:hover {
  background-color: #f0f0f0;
}

.post-preview a {
  text-decoration: none;
  color: #212529;
  transition: color 0.2s;
}

.post-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.post-subtitle {
  font-size: 1.5rem;
  color: #6c757d;
}

.post-meta {
  font-size: 1rem;
  font-style: italic;
  color: #fdc780;
  margin-top: 0.5rem;
  text-shadow: 2px 2px 4px rgba(206, 200, 192, 0.749);
}

.table-image-column {
  width: 150px;
  word-break: break-all;
  white-space: normal;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.231);
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background-color: #fadabd;
  padding: 20px;
  overflow-y: auto;
}
.hamburger-menu {
  display: none;
}
.hamburger-btn {
  background-color: #fadabd;
  color: #efb986;
  border: 2px solid #efb986;
  border-radius: 4px;
  padding: 0px 6px;
  font-size: 20px;
}

.masthead {
  position: relative;
  margin-bottom: 3rem;
  padding-top: calc(8rem + 57px);
  padding-bottom: 8rem;
  background: no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
}

.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.375);
  z-index: 1;
}

.masthead *:not(.overlay) {
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .logo-container {
    flex-direction: column;
  }
  .content {
    margin-left: 0;
  }
  .container,
  .container-sm {
    max-width: 100vw;
    margin-top: 70px !important;
  }
  .sidebar {
    padding-top: 45px !important;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    transition: left 0.3s ease;
    overflow-y: auto;
  }

  .sidebar.open {
    left: 0;
  }

  .hamburger-menu {
    display: block;
    position: absolute;
    top: 22px;
    left: 22px;
    z-index: 1000;
  }

  .root-layout {
    position: relative;
  }

  .admin.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 998;
  }
  .close-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .home-links {
    height: 50px;
    width: 140px;
    margin: 10px;
    padding: 5px 20px;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    border-radius: 5px;
    opacity: 1 !important;
  }
  .post-content-h1 {
    font-size: 3rem;
  }
  .post-content {
    margin: 10px 5vw;
    text-shadow: 2px 2px 4px rgba(57, 31, 3, 0.413);
  }
  .comment {
    margin: 40px 5vw;
  }
}
